<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content, pageStyles)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:replace="${title}">
        <title>GG-Store</title>
    </th:block>

    <!-- CSS específicos por página -->
    <th:block th:replace="${pageStyles} ?: ~{}"></th:block>
</head>
<body>
<!-- Navbar -->
<div th:insert="~{fragments/navbar :: navbar}" class="navbar"></div>

<!-- Contenido principal -->
<main th:replace="${content}">
    <!-- El contenido específico de cada página se inserta aquí -->
</main>

<!-- Footer -->
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>